.mui-bar-nav~.mui-content{
	padding-top: 58px;
}
.mui-bar{
	background-color: #f8f9f9;
}
.scrollContent{
	padding: 0 16px;
}
/* 弹窗开始 */
.mui-plus .plus{
	display: inline;
}

.plus{
	display: none;
}

#topPopover {
	position: fixed;
	top: 16px;
	right: 6px;
}
#topPopover .mui-popover-arrow {
	left: auto;
	right: 6px;
}
p {
	text-indent: 22px;
}
span.mui-icon {
	font-size: 14px;
	color: #007aff;
	margin-left: -15px;
	padding-right: 10px;
}
.mui-popover {
	height: 300px;
}
/* 弹窗结束 */

.filterNav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filterNav .filterTabs{
	width: 102px;
	background-color: #fff;
	height: 34px;
	line-height: 34px;
	border-radius: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 18px;
	font-size: 12px;
	color: #000000;
}
.filterNav .filterTabs .iconfont{
	font-size: 25px;
}

.filterNav .searchOrder{
	height: 34px;
	position: relative;
	display: flex;
	align-items: center;
	background-color: #fff;
	flex: 1;
	margin-left: 16px;
	border-radius: 25px;	
}
.filterNav .searchOrder .searchInput{
	border: 0px;
	background: transparent;
	margin: 0;
}
.filterNav .searchOrder .iconfont{
	color: #999999;
	width: 36px;
	text-align:right;
}

.orderList{
	margin-top: 8px;
}
.orderList .orderItem{
	background-color: #fff;
	padding: 16px;
	margin-bottom: 10px;
}
.orderList .orderItem .orderInfo{
	display: flex;
	justify-content: space-between;
}
.orderList .orderItem .orderInfo .ordeNum{
	font-size: 12px;
	font-family: Inter, Inter;
	font-weight: 400;
	color: #999999
}
.orderList .orderItem .orderInfo .orderState{
	font-size: 12px;
	font-family: Inter, Inter;
	font-weight: 400;
	color: #FF0000;
}

.orderProductList{
	margin-top: 12px;
	border-top:1px solid #EDEDED ;
}
.orderProductList .productItem{
	padding: 16px 0 12px 2px;
	display: flex;
	gap: 10px;
	align-items: center;
}
.orderProductList .productItem .productImg{
	width: 89px;
	height: 89px;
	overflow: hidden;
}
.orderProductList .productItem .productImg img{
	width: 100%;
}
.orderProductList .productItem .productInfo{
	min-width: 200px;
	flex: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-left: 16px;
	margin-right: 16px;
}
.orderProductList .productItem .productInfo .productName{
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
}
.orderProductList .productItem .productInfo .productProps{
	font-size: 12px;
	font-family: Camphor Pro, Camphor Pro;
	font-weight: 400;
	color: rgba(102,102,102,0.6);
	line-height: 14px;
	margin-top: 8px;
}
.orderProductList .productItem .productInfo .perPrice{
	font-size: 15px;
	font-family: Camphor Pro;
	font-weight: 400;
	color: #333333;
}
.orderItem .amount{
	display: flex;
	margin-top: 16px;
	justify-content: space-between;
	border-bottom: 1px solid #ededed;
	padding-bottom: 12px;
}
.orderItem .amount .totalNum{
	font-size: 12px;
	font-weight: 400;
	color: #666666;
}
.orderItem .amount .totalMoney{
	font-size: 15px;
	font-weight: 400;
	color: #333333
}
.editBtns{
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
	justify-content: flex-end;
	gap: 16px;
}
.editBtns .btn{
	font-size: 14px;
	font-weight: 400;
	color: #333333;
	padding: 10px 16px;
	border-radius: 20px;
	border: 1px solid #E8E8E8;
	text-align: center;
}

.popBoxshadow{
	background-color: #000;
	opacity: 0.3;
	height: 100%;
}
#popover{
	position: absolute;
	width: 100%;
	top: 0px;
}
.dropDownList{
    z-index: 99;
    position: absolute;
    width: 100%;
    transition: all 1s;
}
.dropDownList .mui-table-view-cell{
	padding: 0px;
	transition: all 0.1s;
}
.dropDownList.open{
	height: 100%;
}
.dropDownList.open .mui-table-view-cell{
	padding: 11px 15px;
}
.popBoxshadow {
    background-color: #000;
    opacity: 0.3;
    height: 100%;
}
.mui-table-view-cell:after{
	background-color: #fff;
}
.mui-table-view-cell.default a{
	color: #666666;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}
.mui-table-view-cell.default a .iconfont{
	display: none;
}
.mui-table-view-cell.active a{
	color: #000;
	font-family:Camphor Pro Bold; 
}
.mui-table-view-cell.active a .iconfont{
	display: block;
}