.mui-off-canvas-wrap .mui-bar .searchTopCon{
	display: flex;
	align-items: center;
}
.mui-bar .icon-menu-line {
	height: 58px;
	line-height: 58px;
	width: 30px;
	font-size: 18px;
}
.filterNav .searchOrder{
	margin-left: 0;
}
.filterNav{
	width: 100%;
}
input[type=search]{
	text-align: left;
}
.mui-bar-nav .filterTabs{
	display: flex;
	flex-grow: 1;
	gap: 16px;
}
.mui-bar-nav .filterTabs .filterTab{
	flex: 1;
	height: 32px;
	background-color: #fff;
	border-radius: 6px;
	line-height: 32px;
	display: flex;
	justify-content: space-between;
	padding: 4px 4px 4px 12px;
	font-size: 12px;
	align-items: center;
}
.mui-bar-nav~.mui-content{
	padding-top: 95px;
}
.filterTab .iconfont{
	font-size: 25px;
}
.orderProductList{
	margin-top: 0px;
	border: 0;
}
.orderList .orderItem{
	border-radius: 6px 6px 6px 6px;
}
.orderProductList .productItem .productInfo{
	margin-left: 0;
	margin-right: 0;
}
.stockInfo{
	display: flex;
	justify-content: space-between;
}
.stockInfo .stocks{
	font-size: 14px;
	color: #999999;
}
.orderItem .editCon{
	display: flex;
	align-items: center;
	gap: 10px;
}
.saveBtn{
	width: 65px;
	height: 32px;
	background: #EC4927;
	border-radius: 4px 4px 4px 4px;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	color: #fff;
}
input[type=text].stockValue{
	margin-bottom: 0;
	border: 0px;
	outline: none;
	height: 32px;
	background: #F8F8F8;
	border-radius: 4px 4px 4px 4px;
}
.stockNum{
	flex: 1;
}
.inventory{
	font-size: 14px;
	color: #333333;
}

.pagenation{
	position: absolute;
	bottom: 0px;
	z-index: 99;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}
.pagenation .pageSize{
	background-color: #fff;
	color: 999;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	padding: 0 4px;
	border-radius: 4px 4px 4px 4px;
}
.pagenation .rotatepageNum{
	font-size: 14px;
	margin-left: 16px;
}
.pagenation .rotatepageNum .pageValue{
	width: 50px;
	height: 32px;
	background: #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	outline: none;
	border: 0;
	margin: 0 8px;
}

.orderList .orderItem .orderInfo .ordeNum{
	color: #333;
	font-size: 14px;
}
.orderList .orderTime{
	color: #999;
	font-size: 12px;
}

.orderItem .amount{
	padding-bottom: 0!important;
	border: 0!important;
}
.orderItem .amount .amountNumCon{
	font-family: Camphor Pro;
	font-weight: 400;
	font-size: 14px;
	color: #999999;
}
.orderItem .amount .ammountPriceCon{
	font-family: Camphor Pro;
	font-weight: 400;
	font-size: 14px;
	color: #EC4927;
}
.orderStatus{
	width: 100%;
	height: 28px;
	background: #F8F8F8;
	border-radius: 2px 2px 2px 2px;
	line-height: 28px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 12px;
}
.orderStatus .orderItem{
	background-color: transparent!important;
	display: flex;
	gap: 4px;
	align-items: center;
	color: #999;
}
.orderStatus .orderItem.invalid::before{
	content: "";
	border: 1px solid #EC4927;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.orderStatus .orderItem.unpaid::before{
	content: "";
	border: 1px solid #3671FF;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.orderStatus .orderItem.unshipped::before{
	content: "";
	border: 1px solid #F56B1E;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.orderList .orderItem .orderInfo .ordeNum{
	color: #333!important;
}